
/* Start Sprite Master CSS */
.facebook,.pinterest,.twitter,.facebook_hover,.pinterest_hover,.twitter_hover,.checkbox_checked,.checkbox,.instagram_hover,.instagram{display: inline-block;background-repeat: no-repeat;background-image: url('../img/sprite.png');}
.facebook{background-position:0px 0px;width:35px;height:35px;}
.pinterest{background-position:-35px 0px;width:35px;height:35px;}
.twitter{background-position:-70px 0px;width:35px;height:35px;}
.facebook:hover{background-position:-105px 0px;width:35px;height:35px;}
.pinterest:hover{background-position:-140px 0px;width:35px;height:35px;}
.twitter:hover{background-position:-175px 0px;width:35px;height:35px;}
.checkbox_checked{background-position:-210px 0px;width:11px;height:12px;}
.checkbox{background-position:-221px 0px;width:11px;height:11px;}
.instagram:hover{background-position:-232px 0px;width:35px;height:35px;}
.instagram{background-position:-267px 0px;width:35px;height:35px;}
/* End Sprite Master CSS */
